apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: keycloak
  namespace: "{{ ns }}"
spec:
  routes:
{% for http_host in http_hosts %}
    - match: Host(`{{ http_host }}`) && (! PathPrefix(`/admin`) {% raw %}||{% endraw %} ClientIP(`{{ admin_allow_ip }}`))
      kind: Rule
      services:
        - name: keycloak-service
          port: 8080
{% endfor %}
{% if tls_secret_name != "" %}
  tls:
    secretName: {{ tls_secret_name }}
{% endif %}
