- name: Validate parameters
  ansible.builtin.assert:
    that:
      - puppeteers_keycloak_k3s_namespace is string
      - puppeteers_keycloak_k3s_host is string
      - puppeteers_keycloak_k3s_http_hosts is not string and puppeteers_keycloak_k3s_http_hosts is not mapping and puppeteers_keycloak_k3s_http_hosts is iterable
      - puppeteers_keycloak_k3s_admin_allow_ip is string
      - puppeteers_keycloak_k3s_db_host is string
      - puppeteers_keycloak_k3s_db_database is string
      - puppeteers_keycloak_k3s_db_username is defined
      - puppeteers_keycloak_k3s_db_password is defined
      - puppeteers_keycloak_k3s_starting_version is string
      - puppeteers_keycloak_k3s_keycloak_image is string
      - puppeteers_keycloak_k3s_tls_secret_name is string
      - puppeteers_keycloak_k3s_manage_postgres is boolean
      - puppeteers_keycloak_k3s_manage_volumes is boolean

- name: Fetch k3s server CA certificate
  ansible.builtin.fetch:
    src: /var/lib/rancher/k3s/agent/server-ca.crt
    dest: download
    flat: false

- name: Set convenience variables
  ansible.builtin.set_fact:
    ns: "{{ puppeteers_keycloak_k3s_namespace }}"
    host: "{{ puppeteers_keycloak_k3s_host }}"
    ca_cert: "{{ playbook_dir }}/download/{{ inventory_hostname }}/var/lib/rancher/k3s/agent/server-ca.crt"
    http_hosts: "{{ puppeteers_keycloak_k3s_http_hosts }}"
    admin_allow_ip: "{{ puppeteers_keycloak_k3s_admin_allow_ip }}"
    db_host: "{{ puppeteers_keycloak_k3s_db_host }}"
    db_database: "{{ puppeteers_keycloak_k3s_db_database }}"
    db_username: "{{ puppeteers_keycloak_k3s_db_username }}"
    db_password: "{{ puppeteers_keycloak_k3s_db_password }}"
    starting_version: "{{ puppeteers_keycloak_k3s_starting_version }}"
    tls_secret_name: "{{ puppeteers_keycloak_k3s_tls_secret_name }}"

- name: Import role
  ansible.builtin.import_role:
    name: puppeteers.kubernetes.ns_with_sa
  vars:
    ns: "{{ ns }}"

- name: Install Operator Lifecycle Manager
  ansible.builtin.import_role:
    name: puppeteers.kubernetes.olm

- name: Get short lifespan ServiceAccount token for the rest of the plays
  ansible.builtin.command:
    cmd: "/usr/local/bin/kubectl create token ansible --duration 15m --namespace {{ ns }}"
  register: create_token_cmd

- name: Store token as a fact
  ansible.builtin.set_fact:
    api_key: "{{ create_token_cmd.stdout }}"

- name: Create Keycloak OperatorGroup
  kubernetes.core.k8s:
    state: present
    api_key: "{{ api_key }}"
    ca_cert: "{{ ca_cert }}"
    host: "{{ host }}"
    definition:
      apiVersion: operators.coreos.com/v1alpha2
      kind: OperatorGroup
      metadata:
        name: keycloak
        namespace: "{{ ns }}"
      spec:
        targetNamespaces:
          - "{{ ns }}"
  delegate_to: localhost

- name: Create Keycloak Subscription
  kubernetes.core.k8s:
    state: present
    api_key: "{{ api_key }}"
    ca_cert: "{{ ca_cert }}"
    host: "{{ host }}"
    definition:
      apiVersion: operators.coreos.com/v1alpha1
      kind: Subscription
      metadata:
        name: keycloak
        namespace: "{{ ns }}"
      spec:
        channel: fast
        name: keycloak-operator
        startingCSV: "keycloak-operator.v{{ starting_version }}"
        source: operatorhubio-catalog
        sourceNamespace: olm
        installPlanApproval: Manual
  delegate_to: localhost

- name: Create Keycloak database credentials
  kubernetes.core.k8s:
    state: present
    api_key: "{{ api_key }}"
    ca_cert: "{{ ca_cert }}"
    host: "{{ host }}"
    definition:
      apiVersion: v1
      data:
        password: "{{ db_password | ansible.builtin.b64encode }}"
        username: "{{ db_username | ansible.builtin.b64encode }}"
      kind: Secret
      metadata:
        name: keycloak-secret-db
        namespace: "{{ ns }}"
      type: Opaque
  delegate_to: localhost

- name: Set up postgresql
  ansible.builtin.import_tasks:
    file: postgresql.yml
  when: puppeteers_keycloak_k3s_manage_postgres

- name: Set up volumes
  ansible.builtin.import_tasks:
    file: volumes.yml
  when: puppeteers_keycloak_k3s_manage_volumes

- name: Create Keycloak instance
  kubernetes.core.k8s:
    state: present
    api_key: "{{ api_key }}"
    ca_cert: "{{ ca_cert }}"
    host: "{{ host }}"
    template: keycloak.yaml.j2
  delegate_to: localhost

- name: Create Keycloak IngressRoute
  kubernetes.core.k8s:
    state: present
    api_key: "{{ api_key }}"
    ca_cert: "{{ ca_cert }}"
    host: "{{ host }}"
    template: ingressroute.yaml.j2
  delegate_to: localhost
