- name: Create PersistentVolumeClaim for the PostgreSQL database
  kubernetes.core.k8s:
    state: present
    api_key: "{{ api_key }}"
    ca_cert: "{{ ca_cert }}"
    host: "{{ host }}"
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: keycloak-postgresql-pvc
        namespace: "{{ ns }}"
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: local-path
        resources:
          requests:
            storage: 10Gi
  delegate_to: localhost

- name: Create PostgreSQL StatefulSet
  kubernetes.core.k8s:
    state: present
    api_key: "{{ api_key }}"
    ca_cert: "{{ ca_cert }}"
    host: "{{ host }}"
    definition:
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: postgresql-db
        namespace: "{{ ns }}"
      spec:
        serviceName: postgresql-db-service
        selector:
          matchLabels:
            app: postgresql-db
        replicas: 1
        template:
          metadata:
            labels:
              app: postgresql-db
          spec:
            containers:
              - name: postgresql-db
                image: postgres:15
                volumeMounts:
                  - mountPath: /data
                    name: postgresql-data-volume
                env:
                  - name: POSTGRES_USER
                    value: testuser
                  - name: POSTGRES_PASSWORD
                    value: testpassword
                  - name: PGDATA
                    value: /data/pgdata
                  - name: POSTGRES_DB
                    value: "{{ db_database }}"
            volumes:
              - name: postgresql-data-volume
                persistentVolumeClaim:
                  claimName: keycloak-postgresql-pvc
  delegate_to: localhost

- name: Create PostgreSQL Service
  kubernetes.core.k8s:
    state: present
    api_key: "{{ api_key }}"
    ca_cert: "{{ ca_cert }}"
    host: "{{ host }}"
    definition:
      apiVersion: v1
      kind: Service
      metadata:
        name: postgres-db
        namespace: "{{ ns }}"
      spec:
        selector:
          app: postgresql-db
        type: LoadBalancer
        ports:
          - port: 5432
            targetPort: 5432
  delegate_to: localhost
